.darkHomepageHero .wrapper {
  background: #000;
  border: none;
  height: 100%;
  min-height: calc(100vh - 40px);
  position: relative;
  overflow: hidden;
}

.contentBox {
  position: absolute;
  display: flex;
  top: 66%;
  flex-direction: column;
  text-align: left;
  gap: 15px;
  color: #fff;
  z-index: 2;
  width: 100%;

}

@media screen and (max-width: 767px) {
  .contentBox{
    top: 50% !important;
  }
}

.darkHomepageHero h1 {
  font-size: 5rem;
  font-family: "Century Gothic Local";
  font-weight: 300;
  color: white;
  margin-top: -20px;
}
.darkHomepageHero .linePink {
  width: 100px;
  height: 2px;
  background-color: #953957;
  display: block;
  margin-bottom: 20px;
}
.darkHomepageHero .lineWhite {
  width: 100px;
  height: 2px;
  background-color: white;
  display: block;
  margin-bottom: 20px;
}
.darkHomepageHero .leftText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rightText{
  align-items: center;
  text-align: center;
}

.rightText h3{
  display: none;
}

@media screen and (min-width: 767px) {
  .contentDiv{
    align-items: end !important;
  }
  .contentbox{
    top: 68% !important;
  }
  .darkeyebgimg {
    display: block !important;
    width: 650px !important;
    height: 650px !important;
    top: 60px !important;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    object-fit: contain;
  }
  .darkHomepageHero .leftText {
    align-items: start;
    text-align: left;
    justify-content: start;
  }
  .contentDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .rightText {
    text-align: right;
    align-items: flex-end;
  }
  .rightText h3{
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .darkeyebgimg {
    top: 80px !important;
    width: 900px !important;
    height: 900px !important;
  }
  .contentbox{
    top: 66% !important;
  }
}
@media (min-width: 1100px) {
  .darkeyebgimg {
    top: -50px !important;
    left: 53% !important;
    width: 800px !important;
    height: 800px !important;
  }
}

.darkHomepageHero h3 {
  font-family: "Century Gothic Local";
  font-weight: 400;
  color: white;
}
.darkHomepageHero p {
  color: white;
}

.rightText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.darkeyebgimg {
  display: none;
}
